In [14]:
import pandas as pd

df = pd.read_csv("meth_counts/GSE153594_Methylation_Counts.csv", sep=",", decimal=".",
                 dtype={"Chr":str, "Start":int, "End":int, "NZM9":float})
# print(df)

df = df[["Chr", "Start", "End", "NZM9"]]

df

       Chr     Start       End       NZM9
0        1  10003038  10003165   5.376344
1        1  10003166  10003208   3.472222
2        1  10003232  10003297   1.980198
3        1  10003298  10003339  24.719101
4        1  10003340  10003434   3.851641
...     ..       ...       ...        ...
346453   Y  59026010  59026123   4.028436
346454   Y   9930149   9930272   7.111111
346455   Y   9930791   9930878  12.530713
346456   Y   9930879   9930939   4.225352
346457   Y   9982887   9983077   0.000000

[346458 rows x 4 columns]

In [15]:
df['Chr'] = 'chr' + df['Chr'].astype(str)

In [16]:
df_vh = df[df.NZM9>75]
df_hi = df[(df.NZM9<75) & (df.NZM9>50)]
df_me = df[(df.NZM9<50) & (df.NZM9>25)]
df_lw = df[(df.NZM9<25)]

del df_vh["NZM9"]
del df_hi["NZM9"]
del df_me["NZM9"]
del df_lw["NZM9"]

In [19]:
df_vh.to_csv("bed_files/vh_meth.bed", header=None, index=None, sep="\t")
df_hi.to_csv("bed_files/hi_meth.bed", header=None, index=None, sep="\t")
df_me.to_csv("bed_files/me_meth.bed", header=None, index=None, sep="\t")
df_lw.to_csv("bed_files/lw_meth.bed", header=None, index=None, sep="\t")

In [5]:
import pandas as pd

df = pd.read_csv("annotated_files/vh_annotated.txt", sep="\t")
df.head(40)

,Chr,Start,End,Strand,Peak Score,Focus Ratio/Region Size,Annotation,Detailed Annotation,Distance to TSS,Nearest PromoterID,Entrez ID,Nearest Unigene,Nearest Refseq,Nearest Ensembl,Gene Name,Gene Alias,Gene Description,Gene Type
81541,chr20,47267635,47267690,+,0,NaN,"intron (NM_020820, intron 22 of 39)","-intron (NM_020820, intron 22 of 39)",176758,NM_020820,PREX1,NM_020820,NaN,NaN,PREX1,NaN,NaN,NaN
57846,chr17,982170,982227,+,0,NaN,"intron (NM_021962, intron 6 of 22)","-intron (NM_001092, intron 5 of 21)",30126,NM_001092,ABR,NM_001159746,NaN,NaN,ABR,NaN,NaN,NaN
59977,chr19,1015760,1015912,+,0,NaN,"intron (NM_033420, intron 1 of 9)","-intron (NM_001033026, intron 1 of 10)",5305,NM_033420,C19orf6,NM_033420,NaN,NaN,C19orf6,NaN,NaN,NaN
28361,chr12,6341735,6341819,+,0,NaN,"intron (NM_001769, intron 2 of 7)","-intron (NM_001769, intron 2 of 7)",32295,NM_001769,CD9,NM_001769,NaN,NaN,CD9,NaN,NaN,NaN
107811,chr6,133562640,133562679,+,0,NaN,"exon (NM_004100, exon 1 of 20)","-exon (NM_004100, exon 1 of 20)",164,NM_004100,EYA4,NM_172103,NaN,NaN,EYA4,NaN,NaN,NaN
127389,chr9,135012600,135012712,+,0,NaN,Intergenic,Intergenic,-24678,NM_032536,NTNG2,NM_032536,NaN,NaN,NTNG2,NaN,NaN,NaN
36459,chr15,23261898,23262063,+,0,NaN,"exon (NR_024074, exon 11 of 12)","-exon (NR_024074, exon 11 of 12)",6738,NR_024074,GOLGA8IP,NR_024074,NaN,NaN,GOLGA8IP,NaN,NaN,NaN
6323,chr1,235815760,235815864,+,0,NaN,Intergenic,Intergenic,-1758,NM_001098721,GNG4,NM_004485,NaN,NaN,GNG4,NaN,NaN,NaN
29813,chr13,112997467,112997550,+,0,NaN,Intergenic,Intergenic,-33143,NM_145248,SPACA7,NM_145248,NaN,NaN,SPACA7,NaN,NaN,NaN
105067,chr5,34770201,34770276,+,0,NaN,"intron (NM_015577, intron 3 of 17)","-intron (NM_001145520, intron 3 of 17)",-69031,NM_144725,TTC23L,NM_144725,NaN,NaN,TTC23L,NaN,NaN,NaN
17093,chr11,112342902,112342954,+,0,NaN,Intergenic,Intergenic,-211345,NM_001145024,C11orf34,NM_001145024,NaN,NaN,C11orf34,NaN,NaN,NaN
46882,chr16,88789415,88789489,+,0,NaN,"intron (NM_001142864, intron 33 of 50)","-intron (NM_001142864, intron 33 of 50)",-6707,NR_039873,MIR4722,NR_039873,NaN,NaN,MIR4722,NaN,NaN,NaN
12846,chr10,129145654,129145713,+,0,NaN,"intron (NM_001380, intron 31 of 51)","-intron (NM_001380, intron 31 of 51)",-151261,NM_001039762,FAM196A,NM_001039762,NaN,NaN,FAM196A,NaN,NaN,NaN
87389,chr22,31351713,31351851,+,0,NaN,"intron (NM_014941, intron 4 of 26)","-intron (NM_014941, intron 4 of 26)",12405,NM_014941,MORC2,NM_014941,NaN,NaN,MORC2,NaN,NaN,NaN
36225,chr15,101420990,101421064,+,0,NaN,"intron (NM_000693, intron 1 of 12)","-intron (NM_000693, intron 1 of 12)",1018,NM_000693,ALDH1A3,NM_000693,NaN,NaN,ALDH1A3,NaN,NaN,NaN
95911,chr3,58562901,58562952,+,0,NaN,"intron (NM_007177, intron 1 of 4)","-intron (NM_001076778, intron 1 of 3)",565,NM_001076778,FAM107A,NM_007177,NaN,NaN,FAM107A,NaN,NaN,NaN
10156,chr1,67874836,67874945,+,0,NaN,"exon (NM_001018067, exon 8 of 8)","-exon (NM_001018067, exon 8 of 8)",21233,NM_015640,SERBP1,NM_001018067,NaN,NaN,SERBP1,NaN,NaN,NaN
44342,chr16,67183538,67183644,+,0,NaN,"exon (NM_033309, exon 2 of 2)","-exon (NM_033309, exon 2 of 2)",1311,NM_033309,B3GNT9,NM_033309,NaN,NaN,B3GNT9,NaN,NaN,NaN
19424,chr11,396764,396819,+,0,NaN,"intron (NM_007183, intron 2 of 12)","-intron (NM_007183, intron 2 of 12)",2574,NM_007183,PKP3,NM_007183,NaN,NaN,PKP3,NaN,NaN,NaN
108443,chr6,150316731,150316782,+,0,NaN,Intergenic,Intergenic,9524,NR_024045,RAET1K,NR_024045,NaN,NaN,RAET1K,NaN,NaN,NaN
130010,chr9,34294411,34294469,+,0,NaN,"intron (NM_194313, intron 4 of 12)","-intron (NM_194313, intron 4 of 12)",34758,NM_194313,KIF24,NM_194313,NaN,NaN,KIF24,NaN,NaN,NaN
93382,chr3,185272543,185272675,+,0,NaN,Intergenic,Intergenic,-2240,NM_139248,LIPH,NM_139248,NaN,NaN,LIPH,NaN,NaN,NaN
19824,chr11,47471340,47471399,+,0,NaN,promoter-TSS (NM_005055),-promoter-TSS (NM_005055),-639,NM_005055,RAPSN,NM_032645,NaN,NaN,RAPSN,NaN,NaN,NaN
25625,chr12,132250702,132250806,+,0,NaN,"exon (NM_004592, exon 13 of 18)","-exon (NM_004592, exon 13 of 18)",55119,NM_004592,SFSWAP,NM_004592,NaN,NaN,SFSWAP,NaN,NaN,NaN
120652,chr8,129343230,129343269,+,0,NaN,Intergenic,Intergenic,180887,NR_031613,MIR1208,NR_031613,NaN,NaN,MIR1208,NaN,NaN,NaN
114002,chr7,135412214,135412287,+,0,NaN,"exon (NM_012450, exon 1 of 16)","-exon (NM_012450, exon 1 of 16)",683,NM_012450,SLC13A4,NM_012450,NaN,NaN,SLC13A4,NaN,NaN,NaN
33053,chr14,105199964,105200030,+,0,NaN,"intron (NM_199165, intron 1 of 12)","-intron (NM_152328, intron 1 of 12)",3769,NM_199165,ADSSL1,NM_199165,NaN,NaN,ADSSL1,NaN,NaN,NaN
65655,chr19,40676409,40676459,+,0,NaN,Intergenic,Intergenic,-21217,NM_002446,MAP3K10,NM_002446,NaN,NaN,MAP3K10,NaN,NaN,NaN
80965,chr20,36784362,36784467,+,0,NaN,"exon (NM_004613, exon 3 of 13)","-exon (NM_004613, exon 3 of 13)",9286,NM_004613,TGM2,NM_004613,NaN,NaN,TGM2,NaN,NaN,NaN
96634,chr4,107013724,107013826,+,0,NaN,"intron (NM_033115, intron 23 of 23)","-intron (NM_001163435, intron 25 of 25)",197178,NM_001184693,NPNT,NM_001184691,NaN,NaN,NPNT,NaN,NaN,NaN
76759,chr2,27323828,27323937,+,0,NaN,TTS (NM_000221),-TTS (NM_000221),10088,NM_001166241,CGREF1,NM_001166239,NaN,NaN,CGREF1,NaN,NaN,NaN
84676,chr21,45078679,45078762,+,0,NaN,promoter-TSS (NM_015056),-promoter-TSS (NM_015056),654,NM_007031,HSF2BP,NM_007031,NaN,NaN,HSF2BP,NaN,NaN,NaN
78245,chr2,66673159,66673202,+,0,NaN,"intron (NM_002398, intron 6 of 12)","-intron (NM_002398, intron 6 of 12)",10648,NM_002398,MEIS1,NM_002398,NaN,NaN,MEIS1,NaN,NaN,NaN
8178,chr1,36551417,36551520,+,0,NaN,"exon (NM_014466, exon 4 of 10)","-exon (NM_014466, exon 4 of 10)",1792,NM_014466,TEKT2,NM_014466,NaN,NaN,TEKT2,NaN,NaN,NaN
123900,chr8,55016864,55016929,+,0,NaN,Intergenic,Intergenic,-2319,NM_006330,LYPLA1,NM_006330,NaN,NaN,LYPLA1,NaN,NaN,NaN
66557,chr19,45769043,45769082,+,0,NaN,"intron (NM_031417, intron 6 of 17)","-intron (NM_001199867, intron 6 of 16)",14546,NM_001199867,MARK4,NM_031417,NaN,NaN,MARK4,NaN,NaN,NaN
124185,chr8,66889911,66890061,+,0,NaN,Intergenic,Intergenic,-43805,NM_033105,DNAJC5B,NM_033105,NaN,NaN,DNAJC5B,NaN,NaN,NaN
122784,chr8,23004994,23005094,+,0,NaN,"intron (NM_003840, intron 3 of 8)","-intron (NM_003840, intron 3 of 8)",16496,NM_003840,TNFRSF10D,NM_003840,NaN,NaN,TNFRSF10D,NaN,NaN,NaN
68410,chr19,53088569,53088658,+,0,NaN,"exon (NM_001172655, exon 5 of 5)","-exon (NM_001172655, exon 5 of 5)",-11324,NR_023311,ZNF137P,NR_023311,NaN,NaN,ZNF137P,NaN,NaN,NaN
36519,chr15,28315157,28315231,+,0,NaN,"intron (NM_000275, intron 2 of 23)","-intron (NM_000275, intron 2 of 23)",29264,NM_000275,OCA2,NM_000275,NaN,NaN,OCA2,NaN,NaN,NaN